* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.2rem;
  background-color: whitesmoke;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

input,
select {
  margin-left: 10px;
}

button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  background-color: black;
  color: #fff;
}
